@model TextField
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
}

<div>

    @await Html.PartialAsync("Carousel")
                        @await Html.PartialAsync("SidebarPartial")

    @await Html.PartialAsync("Slider")
    <div class="card bg-light mb-3">
        <div class="card-body">
            <h5 class="card-title">Про нас</h5>
            <p class="card-text">
                Наша служба – це сервіс вирішення будь-яких побутових проблем у Рівному. Компанія надає кваліфіковані послуги електриків, сантехніків, майстрів пральних машин та іншої малої побутової техніки.<br>
                Для клієнтів сервіс підготував кілька переваг:<br>
                • надання послуг в зручний клієнтам час<br>
                • знижки постійним замовникам;<br>
                <br>

                Домовий сервіс займається швидким та ефективним вирішенням будь-яких побутових проблем. Компанія пропонує:<br>
                - ремонт побутової техніки<br>
                - послуги електрика, сантехніка<br>
                - встановлення та налаштування побутової техніки та побутового обладнання;<br>
                - ремонт сантехнічного та іншого побутового обладнання;<br>
                - консультаційні послуги;<br>
                - продаж, купівля б/у пральних машин<br>
                Зламалася пральна машина, а в кошику нагромадилося багато брудного одягу? Потрібно терміново випрати речі?  Не проблема! Наш Домовий сервіс стане Вашою чарівною паличкою, яка вирішить будь-яку побутову проблему у Рівному.
            </p>
        </div>
    </div>
</div>