.bg_purple {
    background-color: #949bd4;
}

.bg_pink {
    background-color: #fdd0d6;
}

.bg_orage {
    background-color: #e6ab5b;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

    .cards li {
        margin: 1rem;
    }

.card1 {
    max-width: 18rem;
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 24px var(--color-box-shadow);
}

    .card1 a {
        text-decoration: none;
        color: inherit;
    }

        .card1 a[href]::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
        }

    .card1:hover,
    .card1:focus-within {
        outline: 3px solid var(--color-box-shadow);
        transform: scale(1.005);
    }

.card_image {
    width: 100%;
    height: 200px;
    order: -1;
    display: flex;
    justify-content: center;
}

    .card_image svg {
        width: 140px;
        height: auto;
    }

.card_title,
.card_description {
    margin: 1.5rem;
}

.card_title {
    margin-bottom: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    width: 100%;
}

h1 {
    margin-bottom: 3.5rem;
}
