<div data-aos="fade-right" class="card mb-3 center">
    <div class="row no-gutters">
        <div class="col-md-8">
            <img src="~/CardImages/remonttexniki.webp"
                 class="card-img" alt="...">
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h4 class="card-title">Терміновий ремонт малої побутової техніки у Рівному</h4>
                <h5 class="card-subtitle">у 90% випадків ремонт у день звернення!</h5>
                <br />
                <p> Ми пропонуємо Вам швидкий та якісний ремонт як малої, так і великої побутової техніки різних брендів за максимально доступну ціну. Скориставшись нашими послугами, Ви на власному досвіді переконаєтесь, як має виглядати справжній знак якості. Адже ми виконуємо для Вас ремонт техніки на найвищому рівні.</p>
                <a href="Services" class="btn btn-primary">Наші послуги</a>
            </div>
        </div>
    </div>
</div>




