<!-- Footer -->
<div style="background: #fff" id="footer-wrapper">
    <div class="container">
        <div class="row">
            <div >

                <section>
                    <div class="card text-center text-white bg-dark mb-3">
                        <div class="card-header">
                            Як з нами зв'язатись?'
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Наші контакти</h5>
                            <ul>
                                <li><a style="color:white;" href="tel:+380981276569">+38 (098) 127-65-69 - Ігор</a></li>
                                <li><a style="color:white;" href="tel:+380981276569">+38 (050) 508-94-74 - Ігор</a></li>
                                <li><a style="color:white;" href="#"">vigovskiy1979@gmail.com</a></li>
                                <li><a style="color:white;" href="#">Вирішення Ваших побутових проблем по одному номеру </a></li>
                                <li><a style="color:white;" href="#">Всі деталі послуг можна отримати в дзвінку</a></li>
                            </ul>                            
                            <a href="" class="btn btn-primary">Головна</a>
                        </div>
                    </div>
                    @*<h2>Наші контакти</h2>
                        <div>
                        <div class="row">
                        <div class="col-3 col-6-medium col-12-small">
                        <ul class="link-list">
                        <li><a href="#">+38 (068) 100-78-12 - Юрій</a></li>
                        <li><a href="#">+38 (093) 361-97-07 - Юрій</a></li>
                        <li><a href="#">+38 (098) 127-65-69 - Ігор</a></li>
                        <li><a href="#">Вірішення ваших побутових проблем по одному номеру </a></li>
                        <li><a href="#">Всі деталі послуг можна отримати в дзвінку</a></li>
                        </ul>
                        </div>
                        <div class="col-3 col-6-medium col-12-small">
                        <ul class="link-list">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Головна</a></li>
                        <li><a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Наші послуги</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contacts">Наші контакти</a></li>
                        </ul>
                        </div>

                        </div>
                        </div>*@
                </section>

            </div>

        </div>
    </div>
</div>