<br>

<div class="card-deck">

    <div class="card">
        <img class="card-img-top" src="/CardImages/Pilesos.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Ремонт пилососів</h5>
            <ul>
                <li>Всі послуги та перелік техніки, яку ми ремонтуємо Ви можете дізнатися по телефону</li>
            </ul>
        </div>
        <a href="Home/Contacts" class="btn btn-primary">Зв'язатись з нами</a>
    </div>

    <div class="card">
        <img class="card-img-top" src="/CardImages/microvoln.webp" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Ремонт мікрохвильовок</h5>
            <ul>
                <li>Всі послуги та перелік техніки, яку ми ремонтуємо Ви можете дізнатися по телефону</li>
            </ul>
        </div>
        <a href="Home/Contacts" class="btn btn-primary">Зв'язатись з нами</a>

    </div>
    <div class="card">
        <img class="card-img-top" src="/CardImages/obogrevatel.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Ремонт обігрівачів</h5>
            <ul>
                <li>Всі послуги та перелік техніки, яку ми ремонтуємо Ви можете дізнатися по телефону</li>
            </ul>
        </div>
        <a href="Home/Contacts" class="btn btn-primary">Зв'язатись з нами</a>
    </div>
</div>
<br>

<h1 style="color: white">Можливі несправності</h1>
<div class="card-deck">

    <div class="card">
        <img class="card-img-top" src="/CardImages/NeGrie.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Не гріє воду</h5>
            <ul>
                <li>Вийшов з ладу ТЕН</li>
                <li>Зламався датчик температури</li>
                <li>Збої в модулі управління або програматорі</li>
            </ul>
        </div>
        <a href="Home/Contacts" class="btn btn-primary">Зв'язатись з нами</a>
    </div>
    <div class="card">
        <img class="card-img-top" src="/CardImages/sliv.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Не зливаєтсья вода</h5>
            <ul>
                <li>Вийшов з ладу насос</li>
                <li>Несправності датчика рівня води</li>
                <li>Засмітився фільтр зливу води або патрубок</li>
                <li>Збої у модулі управління</li>
            </ul>
        </div>
        <a href="Home/Contacts" class="btn btn-primary">Зв'язатись з нами</a>
    </div>
    <div class="card">
        <img class="card-img-top" src="/CardImages/protechka.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Протікає</h5>
            <ul>
                <li>Забруднення дозатора миючих засобів</li>
                <li>Манжета люка зносилася</li>
                <li>Поломка патрубка</li>
            </ul>
        </div>
        <a href="Home/Contacts" class="btn btn-primary">Зв'язатись з нами</a>
    </div>

</div>

<br>

